@charset "UTF-8";

a {
	text-decoration: none;
	color: black;

}
a:hover {
	color: #849080;
}

.nav_container {
	position: absolute;
	margin-top: 4.5em;
	font-size: x-large;
	letter-spacing: 3px;
	border: solid;
	padding-inline-end: 30px;
}

#navlinks li {
	position: relative;
	display: inline list-item;
	list-style: None;
	padding-left: 0px;
	padding-right: 0px;
}
