<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<link th:href="@{/style/navBar.css}" rel="stylesheet" />
<meta charset="UTF-8">

	<nav th:fragment="nav_bar" class="navbar">
		
		<span id="nav1"><a th:href="@{/MakeAPost}"> Make a Blog Post </a></span>
		
		<span id ="nav2"><a th:href="@{/BlogPosts}"> View all Entries </a></span>
		
		<span id="nav3" sec:authorize="isAuthenticated()">
		<a th:href="@{/MyBlogPosts}"> View your Entries</a>
		</span>
		
	</nav>
	

</html>