<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<link th:href="@{/style/main.css}" rel="stylesheet" />
<meta charset="UTF-8">

	<nav th:fragment="navbar">
		<b>||</b>
		<a th:href="@{/ListOfVisitors}"> List of Visitors </a>
		<b>||</b>
		<a th:href="@{/MakeAPost}"> Make a Blog Post </a>
		<b>||</b>
		<a th:href="@{/BlogPosts}"> View all Entries </a>
		<b>||</b>
		
		<span sec:authorize="isAuthenticated()">
		<a th:href="@{/MyBlogPosts}"> View your Entries</a>
		<b>||</b>
		</span>
		
	</nav>

</html>