<!DOCTYPE html>
<!-- This is for using Thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"/>

<div th:insert="fragments/header"></div>
	<div th:insert="fragments/navbar"></div>

<body>
	<h2>Blog Entries</h2>
	<div>
	<table style="width: 60%;">
		<thead>
			<tr>
				<th align="left">Post Title</th>
				<th style="width: 20%; ">Post Date</th>
				<th style="width: 10%;">Author</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="bp: ${blogtitlelist}">
				<td> <a th:href="@{/ViewAPost/{id}(id=${bp.id})}" th:text="${bp.postTitle}"></a></td>
				<td> <span th:text="${bp.postDateTime}"></span></td>
				<td> <span th:text="${bp.uname}"> </span></td>
			
			</tr>
		</tbody>
		
	</table>
	</div>
	
</body>

<footer th:insert="fragments/footer">
</footer>

</html>