<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<link th:href="@{/style/main.css}" rel="stylesheet" />
<title>The JLM Site</title>
</head>

	<!-- Inserts Header html with banner from fragments-->
	<div th:insert="fragments/header"></div>
	<div th:insert="fragments/navbar"></div>
	
	<body>
	<br></br>	
		Howdy
		<div th:text="${#authentication.name}"></div>
	<br></br>
	
	<a th:href="@{/login}"> Login</a> || <a th:href="@{/register}"> Sign Up</a>
	
	</body>
</html>