<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>JLM's PGP Key</title>
    <style>
        a:link { color: #000000; text-decoration: underline }
    </style>
</head>
<body>
<div th:insert="~{fragments/header}"></div>
<h2><a href="/keys/JohnLutherMackin_0xD72351BC_public.asc">Public Key</a></h2>
<h4><a href="https://keys.openpgp.org/vks/v1/by-fingerprint/3079EED1E7333EAE0259C3941C873A40D72351BC">keys.openpgp.org</a></h4>
<h4><a href="https://pgp.mit.edu/pks/lookup?op=get&search=0x1C873A40D72351BC">pgp.mit.edu</a></h4>
<h4><a href="https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x3079eed1e7333eae0259c3941c873a40d72351bc">keyserver.ubuntu.com</a></h4>
<textarea readonly rows="130" cols="80">
-----BEGIN PGP PUBLIC KEY BLOCK-----
Comment: User-ID:	John Luther Mackin <JohnLutherMackin@jlmw.xyz>
Comment: a.k.a.:	John Luther Mackin <JohnLutherMackin@gmail.com>
Comment: Created:	3/11/23 9:20 PM
Comment: Type:	4,096-bit RSA
Comment: Usage:	Signing, Encryption, Certifying User-IDs, SSH Authentication
Comment: Fingerprint:	3079EED1E7333EAE0259C3941C873A40D72351BC

mQINBGQNRQgBEADiuVl3cRh66bhnuXcrK3xJDsOiH1E+sYcFZbW5SPjxWyAzidKv
uVLDF6ZEwH3hFVIwggK8Zz0Ha/Pdf0SDgmm6q/Tb2vK7RPaZLoKfYlIFo8Y30luc
h1wzKTUNl2S+HQJWWqVMyxNM3JS54/2kZWOKbtKeHmuTtZVQtC+I4lRP7q5vxg0d
EyMgdBhgtoM9c6r5KrCLZrJObDqam/C8Dit+J0AhOFRTyf8Gh2p1BGQc24dxjtTz
NzMoNdsCPA/GFCi5U5lk8GIFViz0LK7RhaoKA5/vCFGiQXekA3oSAJgZC66Lj2/T
xMqU8NRhIErzrEC2D9EhUKzHJ4df8PIVx4Aoqwd2u5lxuGAUjxAXG1Xhk6+qEdC1
8ITSd2GMbRMTF7doC3Rp5uFXlyPvBzKP0kqbNMnYmEPDF1b/6ffod624bemAK7mm
AM14nsDMLcwjqmab1apjmzM334PUaA9f7szCUdRk7BMaiHo2ymGQvQJmsbPid9r3
jaxFMrUFKag06qe33K3/gO4SAZwQXVhkzDHBiulOF1JXFNCIAoR6vV3UZGTdt1S2
YO+lSNWG426Cv+g0/2hKIvKBdESmB94CHqXFwq92ihlQUHgsgh3JMt0BVXgB8ez+
zn6mOBvp0SyXwt9DbBDSoU1RDONC+14D5RniJfX5glqtgnu2s1YzLX3rHwARAQAB
tC5Kb2huIEx1dGhlciBNYWNraW4gPEpvaG5MdXRoZXJNYWNraW5Aamxtdy54eXo+
iQJPBBMBCgA5AhsBBAsJCAcEFQoJCAUWAgMBAAIeAQIXgBYhBDB57tHnMz6uAlnD
lByHOkDXI1G8BQJkDUjKAhkBAAoJEByHOkDXI1G8fPoQAIjcslAW7Sr7Dm5BqHTw
ETFkeBz4ED527Qfy8IfOOVBYolVjEjsDWDOVfsDvda0BduHkJXcEk0wba6cPLYGJ
IX3VYnOYq+ieOVcO2v0DuG6sTmsEtLTTIRsw6ELHoRt2O4S2UEuQEoqQ9t+ublv1
xlkxwfpRSvquK3Id61niw/10ex/PAKfvBj5xEQnYGRW2b+NxeY/KQMvD5Aj6QlsF
e2B2rhrcibV0j7EZvlduBs2jVxWnMRak7bvYxFRihLPleIDLDTTWpJ+Sx5cOXFrD
7BBtgVugnN0JMhYSZarPBZ7ANlJj7xGKEkS+DfMJ00yJCkQNikAZlRrzkbwfB4Vj
PblRdyF4bCMtdAoYN18SfT9C8y/IP3IuQdSpQeDjbsU5zko7Y9RCXlIo+C7cMRCj
lB9aI9IWFC4sQ+Ys675CYW1krxNwFJKdM4CHYBJxcJsDJyKbtOoQnToU0UdrSBd6
62ZuGmTydfZDZrh4DNn8zQGtSM+aMC8ECTF/YuK90ZgLWGq5lXurCI42JvRBH/kF
/1m0IZjYOKnFBiAFo/RL0FhupYEDHeZQUwfeEI1IGtOqk1vPeoLPnv+PyvCLnBS9
STLsAfhVJi3sul/FWNa0KRR707Ye+mFJYFDzAqrz2pzrwH63mD3dKCGKYrMJin0G
LuH8pr/5OQ/1Az6pVOLGZOAJtC9Kb2huIEx1dGhlciBNYWNraW4gPEpvaG5MdXRo
ZXJNYWNraW5AZ21haWwuY29tPokCTAQTAQoANhYhBDB57tHnMz6uAlnDlByHOkDX
I1G8BQJkDUh4AhsBBAsJCAcEFQoJCAUWAgMBAAIeAQIXgAAKCRAchzpA1yNRvMLJ
EACYKVoH4BjH0KIRWl9qBYl1/+1MRdRNqiOlBfJ4WEQTo8lqTrasNSyPu4KxElSu
Rrh52OwwQguBWnA12f3wo7Tkx146R4/CLuc6TnvT8XCZt588GQ0DxKKnPdJ48fuL
iTTXSJyAsj3SzyDcacLikMTLS9Pyb8rEwG76nhnfaYcQON3hFWVMQbhPhcnxCC4t
U1wt3pGkS59UApbTxUds+9IN/xOPeDAvDaAzoZFSChcEFZMeZTbciTBmVqpPeCK5
1eIkOeufQx29/rHF9in1uLKzT0wHvmIg/KEh51k4I+hvMelhIwfnC9FT+cWE1A+t
soiqI5dvQIbTj27KYBACKJPMdongam0htZ2x7Zkl581k0S1snhGNXqqRakDoKz3c
GaHUqQbvtHpngFz9HffL+nF5f4hzbqHNMuxGLLpzI6nLo5n55rcwyFdCL9d8XC8T
oi3/UaOcYbkoj6QlLPf3+R7Kq2ArAr4f6vmYmU76ZIcnk/MJqrGB6tIMVywy9KhS
uxus87d59W6uCHOQIb//1ig79XtZR4sZgIagCeNx0r4IRK5V0WuzUzrfXRVfT5Vc
2pdH1q1ilSP0h60bC8T37BZaOVzMcGP0hB7DBpkHYlcsNfwDDbtsS7OI7jASPBWa
uqy0YxA9F+SaA+QEMSEDnUcO9gt9+0pZrtXFz+hG8V8PcbkCDQRkDUctARAAstwK
Tg/KbEknq/BYdoIR2nq+VL/5rkpLQQes8th8+6mCyCGEYPgFqNksbJ/hA4h2VI2D
MqgrN0E0JdQFVOZYHuFbelJtaOShhWDr/rdlPPPfDinSR8K/0CArQTRszB2cazlq
Cc6N960XYc462EwcFEvY733H5079uZ4omp9+OS8LabHRHFsIKoB3hhMAbcMBuEB5
h6BXWcLT39QGBxtsawy7L+fYWKUIVSccJHErlPD+zWiuSLuyAqDXpPt/HSEBPhSZ
5avlVKPcnI4j3fMJoHjaQJ+FA2dfgWNmDXpmEU3oVdqwYURmWEPjoJWGV1PuoRBW
49+BvbyjIuA1bRrZk462zWD9ms9dm3aqXIyeijViJNxxxtn3uKin+m/h8p9hb96v
HSOTmQc4wXOgfj5VTPeFEiEOmw/rxyaTjL+2vKukxmG3KhVWwtq2Jy15zxTZDhe+
ryBr7vRJEmYMfS6OpcLFx6e5TgyGbNGuIendmQe7p+Q8mLE/HbLyMhiDAHum6zAW
e3xMjLvdAz8CqM48Amd75UaJZ3qtCI7XwoiM0Si/kTAygmg0UMa5BPIr+i/YZ0FP
Nsd7VuQV0yq8EE/2ij8Tluhab6oJqlaQ3nnA8KHpMD8Dv95L2dWuQtLjGPpGyM1O
hUEJDUm8MVNWJT9e04mQzB9xaU9Lcru4mrfOl2MAEQEAAYkEcgQYAQoAJhYhBDB5
7tHnMz6uAlnDlByHOkDXI1G8BQJkDUctAhsCBQkFo5qAAkAJEByHOkDXI1G8wXQg
BBkBCgAdFiEEL9jSuE8XAXfCi/K/MAYQnEyBU4gFAmQNRy0ACgkQMAYQnEyBU4jn
Bw//XNjuzV/vqg6kJl+gsEKpzpC5aBitJsGxjvIYLgbDIdt4vW9/bgXJp256ZKxb
g6Flh8SnZk7m89KbXKf/ziwYXmJ15WIJZV9UTjYCpPzNwB5KMj6wuy1QfsfB9TfP
WZRGg4T5UHpnGIGr6ty19foxg71FFA5ia8uY4YjrDeQWzQu+sFqOTSBouLjeDK0D
IY9bcdIqUfiwy+YJ51NUGlpaS+S00hUoj9sOGMyyp1WNoobGEh3ePILu9E9GtrU4
aDIPcs7d88eNP6m5Cynzjrfk25kfLOOe70D3NfZa/CFbTIwynSY37IG9YQ7X4Qac
8UfTif78NBlNoUmMdmEWLfxinfgHeRiCtsdIe6NxyF5b4qDOiQAQMHqHkJM73kWM
3M4yKoFSlHJeYKLxTEmRRTgysR4WAmjzSE+Wzzfy4zyhqdlNrGnDFiW+yCrYY3Sb
jZQhIpfB7XD04JqT6SdyTI89ysOyE8FXRbcAvRVgchisv1y9brkeRMWeog1ZF7PV
aRjbHux9ifZsPHvTbPGNI5agoeaKuqnPBJcNcXM4i+U4+LFRiZS0wCTJuvY18F4I
KETtrUUxoGqS6ynJmCFgRcf6e8IVXRfEioPL3KQy+EHHX5w84GKK1SnjtEdAzjli
5YHP0Hq/Sr/jYqfGiTCfCSHXIUI7GsSL1tNekh6T6N8Jf6rsNw//dQ3pY1e8K42u
IRa/Qo3nPId+l6inYRI7i4/WAgHVfc22RmxgDF3/HVzmR/RB4vo4Hm+AThbQTjqF
qTmC4GjYLAvuEgl5O3Y+0vB79YE9Zh/7J91dnwLoynTHqLtsr86KhBl00RI+sXsp
oZyje7cq54DGO292rxIeVn7CPSRbg6/570x5TFpE2ejtf9Mr2RvaVnmjAXUCUxmu
4wjNl6p3/UHKIHDvzy8pDlApJTN73y4BVabtxOcYDpgdDlq3AER7QoSVXFvqgJKK
PJHEDz8yjKkKAjkfYdPzwiriUQVMtiG36+rxYmD/uW9WzuwTdMgCsPoyMObXcnjz
KU2jVEdoFTyLWWMQ6Y0JaXzoXJ+eKHSJ0Xzb8YTaPMG1VkLqN6Jh/c58ixKcTC+E
We3z4KMkxIRnUAhY9CWEXsmLONu02qmW9/mLMkIC++kJ9jjF/WnwoSC2aQJKO4fD
oEjyBuoPeQbcTCfq9aRvMEf21eV0qD9Az7XqDVtqoqeQDXpzPKG7q20dBnEqk70K
eOT+ofFGynnpE28OtvcdApjfwyfE7ATxYr90kftPI9t9VRPWBovVE1N6AhWFuC+h
Crq66CxtXMaq/eUEybbwZi/8CXcO+8LpnmY13gea0X5m7iNbcUBe9XuVA3tNgdWy
EbTj05hgA9Au5NY/87UPC5r2or8qD0a5Ag0EZA1HXAEQAOcnDFVZKTLhK2EGDq0y
ffc5BHXWGft5eURjBaPsdyRhnXjjsSXlCwR4+6NgEgwb45BgK0WfQuqxDLqXE1cA
B87AIxClG4pL+/Bkfce2oIuvTTt21gJkgvQhkNOip4T2SJZx8lZJQDjqJmeRE+zu
q5Z12ezgEPUZESffLZjdgNhORIl+xdBzO5D9juSu6hEFbCzXI++Lc46auZaVh1hs
dDxhHL8/wn22yjFSW+6MCMnB0ELxcMLicqyBd11+go2jhCtFv7VJxoJ555RuaJXu
ooIC8QismhuvIC513T5UYt3LhxQ3oLs7Sw/6euj6Lg60QMPMYh60MNahyPAHLN7D
ab6cerHBSJ48o0QhNnzmyL9CHfJpdgbYFzyM286e7+FO1OWYDObXB45hKbaNZFZH
lV9oPoyXc1hef/aYMYUkbwLaJ9k+FlaQnpt0uPE0AwWu+MJi+zJVvxX4qerURX/Z
QG69K48F2eD8u5EYKLdKRV2y+D9HttDwHs8ywQv16tF17SWCdT7VusNhV7QHhodv
dNv789+j/lslzTcPdR2AWc+/sGN+kYswKt/UoKxkgiHOZz0Z0q9WgR94xveahHhX
k4XcTtSvB0Ev24kxCQOKH2K+uyNo5y71UEdsVZAyLqUT60HLhieJSYaTIhQI0e8J
2alXWigYR2GbkyPVtAebTY9tABEBAAGJAjwEGAEKACYWIQQwee7R5zM+rgJZw5Qc
hzpA1yNRvAUCZA1HXAIbDAUJBaOagAAKCRAchzpA1yNRvCYMEACLTDETPnU8mowf
bWzXBPMXVAUd9YPfgJLbYyfZvc4DephflnZGpXuXkChqr4x8Q8zKxJl1ZV6KKvo2
7iiuh9oF3xN0d4sp1g2Er4B2pFvcAtTehS54OQukYtrkReVhQegQ+6cfClmMMhOo
qlX7eJUZCvsmb6X6gfcnbOY5+GsqXOJS9zqk/dvxnFRuS5HSyZScgBv8jm02Jrpi
FYs3Cg01gi/i7/uVRIs2CEe75zKF7k9c/fMUTvpVJFZSCApmmR15iiU2kJWzLrg4
XFcTkT5REd4oixI6A3S8+gvSSyUkZXwQLdQFPuV9gUohbYs46BLjNYJm9yLS7Rcv
Hbkq1u1bF9n3NtayEUTMu8YjTc4BvlYEL6tIq3Gp28qrkRTaQFqQf64GYgpKgKuf
IDJOu+Jrio2gnVRwSd8zhRQwb10Dux6lMUDlm7rX4YD/PY0N7hNS6heK8MzFUq9c
bK9G4NRJc/QXy3/VGz8YwXF/ugT+hu3WCw71p9aSSdTZM0Qg7URmLKweYilZzXpo
byYjFSIllclzWPOj14V8rYzSQooSACfZ1SeZyN4bL13Wp8p9WJlcsRZUjf9O+sW4
w9mdwMqM44U/FL65uPE3sK1lLKrLXeW5aUw4rf2/Ai0HYbrq+dP+Wh5sB7YtCtvr
G2Ecq2XQs62EZOhXg3fFhy78Nf0+jbkCDQRkDUeAARAA7mR5rkGzj7rikF5ywI15
05Atc8KuZ4JUWUWkTINKB7RbT6pYxUfXsf6NoIQk5JIt+Z2Bq6LM+2mzrlWg+EId
ShUUZvrh4CWYjqHIr62rMwKo9qBBWfJCG9MNGNpPcVeCcfJaVYgxMy+DOXPTVYqM
VoegJ0nVAKRickltRKTqjqJafuN4mbKXMpRDtMsQLKaZebCEJskX4XyNkwaojXzK
q3fEiffhwSztncBItFt+nmILsCF+oKsM+DsAiSteYbWMOeGY3C/KLsjNzwEx/45T
Iq6LR+p1oHOQvSBeX7U3DIJQjb4q0LQynMsk3KSQesuLpvKgH4F0T02K4K2REahM
XvSwDSRexHP2ePYzKYRloz/zVqn6kar5G9aPInQ8iwCyT3fPyywrPH5Uq7ahrHh+
CgeNUqglmqCWCA3qttrNnlYft1YzsMfG+JvI+DXaNnVu7Ka/1BIqlgmAMg9TgYLi
wAEKlThZ24gHk+CtKHENtbnXgfZ7mXKGmY9tSD1JO+7z0G/9nDhuNV6kh3T9GLEL
7PnPAEwdmnrfh3ZYlQgJuw2CyIGQMDUgPw1Ap9mBdpWmeVT7cVxHlEZLHdbwYLzN
2DtxcyEsQg5zgxyP4UO12jk3n0rR5LzUzkMaW0yBND5FtVjbzJ7dc0Xm0COwI2cg
FklYRMFIv5e9hKrY7f+FAz0AEQEAAYkCPAQYAQoAJhYhBDB57tHnMz6uAlnDlByH
OkDXI1G8BQJkDUeAAhsgBQkFo5qAAAoJEByHOkDXI1G8x48P/jJEW4fqgCIcC7M+
DJYi7kpLCZEmOGVerrNV8frNBPGuh/OJGbK6AoWmFowkhJ3WG+O4fGReJdMrV/Un
8VRPrpVAMwgaBuVsKuncxYK8FdCb0U4+6I6YzxT3vcFcQk8GDgqiYyoE3QZQDnm1
DYIMC/lLlxnoe03IEFp/NuN6HubXkNSoj+CIJw2zvEXG46ga/nr6QOpt+39W+68z
Rf4Oer+wMMcuZX1Vor5BZo2aCZ8rGTDYeoneX82bF9Wwnfujb+RiK+Kh83hE2Voi
WOZhNoSjGlSZZ2tIvvndpmIhQceqNvZpK2lmXUj9SZaoFNhLYR0jpkl6EOU34YUV
fJ0VhXrESf8bC3dzEimMpBo5mMnEDS80xpmcLyQtch+RNp2+y7lPs0Kfzwr36lBt
ucbr5oEQAC1uoKeZ/S7vQmZMzyRbNRnEXHCso1xNUeYkGaqcAMe146KVB8GbtDQB
BCbwnh5oWdDF7S+XrMe5CY9vjxU/lcUBXOiszOrQPtvDeX0EclMaRA73AAYpVSLW
UfjZuM/ct5tisWlpemGbjTBcyw/SdrRJszY9MxOtwxtUcJ2yMONdykTaEzP8TrF6
Jz4f1pmYo85x+u96D/gMxAnVgpfEry80AdNq9TFDY4wRQmhuUijEB9eeXYtUrjYU
PB/rP6/vvx+5Vo36lGUfkLs/eoaO
=m9OC
-----END PGP PUBLIC KEY BLOCK-----
</textarea>
</body>
</html>