<!DOCTYPE html>
<!-- This is for using Thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/style/makeAPost.css}">

<div th:insert="fragments/header"></div>
	

<body>
	<h4>Make a new Post</h4>
	<!-- The th:action="@{/saveVisitor}" expression directs the form to POST to the /SaveVisitor endpoint.
		 The th:object="${visitor}" expression declares the model object to use for collecting the form data.
		 The three form fields, expressed with th:field, correspond to the fields in the Visitor object. -->
	<form th:action="@{/SavePost}" th:object="${blogpost}" method="post"><!-- Unfortunate coincidence that the method is the same as the object name -->
	
		<div class="row">
			<div>
				<input id="post_title" type="text" class="validate"
					th:field="*{postTitle}"> 
				<label for="post_title">Title</label>
			</div>
		</div>
		<br>
		<div class="row">
			<div>
				<textarea id="post_content" th:field="*{postContent}" style="width: 75%; height: 117px; ">
				Enter Your Thoughts...
				</textarea>
			</div>
		</div>
		<button type="submit">Submit Post</button>
	</form>
	
	<br>
	<a th:href="@{/blogPosts}">Back</a>
	<!-- The link which sends GET request to "/"  -->
</body>

<footer th:insert="fragments/footer"></footer>

</html>