<!DOCTYPE html>
<!-- This is for using Thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Make A Post</title>

<body>
	<h3>Make a new Post</h3>
	<!-- The th:action="@{/saveVisitor}" expression directs the form to POST to the /SaveVisitor endpoint.
		 The th:object="${visitor}" expression declares the model object to use for collecting the form data.
		 The three form fields, expressed with th:field, correspond to the fields in the Visitor object. -->
	<form th:action="@{/SavePost}" th:object="${post}" method="post"><!-- Unfortunate coincidence that the method is the same as the object name -->
	
		<div class="row">
			<div class="input-field col s6">
				<input id="post_title" type="text" class="validate"
					th:field="*{postTitle}"> 
				<label for="post_title">Title</label>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="input-field col s6">
				<textarea id="post_Content" th:field="*{postContent}">
				Enter Your Thoughts...
				</textarea>
				<label for="post_Content">Content</label>
			</div>
		</div>
		<button type="submit" class="waves-effect waves-light btn">Submit Post</button>
	</form>
	<br>
	<!-- The link which sends GET request to "/"  -->
	<a th:href="@{/}"
		class="blue-text">Back</a>
</body>

</body>
</html>