<!DOCTYPE html>
<!-- This is for using Thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Visitor Management System</title>
<!-- Compiled and minified CSS -->
<link rel="stylesheet">

<!-- Compiled and minified JavaScript -->

</head>
<body style="max-width: 960px; margin: 16px auto; padding: 16px">
	<h3>Add New Visitor</h3>
	<!-- The th:action="@{/saveVisitor}" expression directs the form to POST to the /SaveVisitor endpoint.
		 The th:object="${visitor}" expression declares the model object to use for collecting the form data.
		 The three form fields, expressed with th:field, correspond to the fields in the Visitor object. -->
	<form th:action="@{/SaveVisitor}" th:object="${visitor}" method="post">
		<div class="row">
			<div class="input-field col s6">
				<input id="first_name" type="text" class="validate"
					th:field="*{firstName}"> <label for="first_name">First
					Name</label>
			</div>
			<div class="input-field col s6">
				<input id="last_name" type="text" class="validate"
					th:field="*{lastName}"> <label for="last_name">Last
					Name</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<input id="quip" type="text" class="validate" th:field="*{quip}">
				<label for="quip">Quip</label>
			</div>
		</div>
		<button type="submit" class="waves-effect waves-light btn">Add
			Visitor</button>
	</form>
	<br>
	<!-- The link which sends GET request to "/"  -->
	<a th:href="@{/ListOfVisitors}"
		class="blue-text">Back</a>
</body>
</html>