<!DOCTYPE html>
<!-- This is for using Thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Visitor Management System</title>
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body style="max-width: 960px; margin: 16px auto; padding: 16px">


	<h3>visitor List</h3>
	<!-- The link which sends GET request to "/showNewEmployeeForm"  -->
	<a th:href="@{/NewVisitorForm}"
		class="waves-effect waves-light btn">Add new visitor</a>
	<div align="center" style="margin-top: 20px">
		<table class="responsive-table striped highlight centered">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Quip</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
			<!-- You can acccess model attributes which are added in a Controller(VisitorController.java) with ${attributeName}.
				 In this case, it is "${visitorList}".
			     To show all visitor data in this table, you need to use "th:each" in the thymeleaf template and iterate the visitors of visitorList -->
				<tr th:each="visitor: ${visitorList}">
					<td th:text="${visitor.firstName}"></td>
					<td th:text="${visitor.lastName}"></td>
					<td th:text="${visitor.quip}"></td>
					<td>
						<!-- The link which sends GET request to "/showFormForUpdate/{id}" (id is visitor.id) -->
						<a th:href="@{/showFormForUpdate/{id}(id=${visitor.id})}"
							class="waves-effect waves-light btn">Update</a>
					</td>
					<td>
						<!-- The link which sends GET request to "/delete/{id}" (id is visitor.id)  -->
						<a th:href="@{/delete/{id}(id=${visitor.id})}"
							class="waves-effect waves-light btn red litghten-2">Delete</a>
					</td>
				</tr>
				
			</tbody>
		</table>
	</div>
</body>
</html>